<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<title>POI爬虫平台-首页</title>
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/xadmin.css') }}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/xadmin.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" >
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}" ></script>
    <script src="{{url_for('static',filename='js/echarts.min.js')}}" ></script>
    <script src="{{url_for('static',filename='js/china.js')}}" ></script>
    <link rel="stylesheet"  href="{{url_for('static',filename='css/base.css')}}">
  </head>
  <body>
    <div class="x-body">
      <div class="layui-row">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
              <div class="layui-col-sm8 layui-col-md4">
                <div class="layui-card">
                  <div class="layui-card-header">
                    爬取数据总量
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">年</span>
                  </div>
                  <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" style="font-size: 36px;color: #666">{{ crawlTotalNum }}</p>
                    <p>
                      居民区爬取量/医院爬取量
                      <span class="layuiadmin-span-color">{{ crawlTotalRes }}万/{{ crawlTotalHos }}万 </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="layui-col-sm8 layui-col-md4">
                <div class="layui-card">
                  <div class="layui-card-header">
                    爬取数据总量(有边界)
                    <span class="layui-badge layui-bg-green layuiadmin-badge">月</span>
                  </div>
                  <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" style="font-size: 36px;color: #666">{{ crawlTotalNumWithShape }}</p>
                    <p>
                      居民区爬取量(有边界)/医院爬取量(有边界)
                      <span class="layuiadmin-span-color">{{ crawlTotalResWithShape }}万/{{ crawlTotalHosWithShape }}万 </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="layui-col-sm8 layui-col-md4">
                <div class="layui-card">
                  <div class="layui-card-header">
                    今天新增数量
                    <span class="layui-badge layui-bg-red layuiadmin-badge">日</span>
                  </div>
                  <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font" style="font-size: 36px;color: #666">{{ crawlTotalToday }}</p>
                    <p>
                      有边界
                      <span class="layuiadmin-span-color">{{ crawlTotalTodayWithShape }}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="layui-col-sm8">
                  <div class="layui-card">
                      <div class="layui-card-header">
                          POI数量
{#                          <div class="layui-btn-group layuiadmin-btn-group">#}
{#                              <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">去年</a>#}
{#                              <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">今年</a>#}
{#                          </div>#}
                      </div>
                      <div class="layui-card-body">
                          <div class="layui-row" style="margin-left: 5px">
                              <div id="main" style="width:100%;height:300px;"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="layui-col-sm4">
                  <div class="layui-card">
                      <div class="layui-card-header">基站与场景关联覆盖占比</div>
                      <div class="layui-card-body">
                          <div class="layui-row">
                                 <div id="main1" style="width:100%;height:300px;"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="layui-col-sm4">
                <div class="layui-card">
                 <div class="layui-card-header">论坛</div>
                  <div class="layui-card-body" style="height:304px;overflow: auto;">
                    <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                        {% for card in cards %}
                            <li>
                                <div class="note-group" style="">
                                    <p class="note-title" style="font-size: 1.17em;color: #666;width: 100%;font-weight: 700;">
                                        {{ card.title }}
                                    </p>
                                    <p class="note-content" style="font-size: 14px;line-height: 26px;color: #666" >{{ card.content }}</p>
                                    <div class="note-info" style="text-align:right;">
                                        <span class="note-author" style="color: #666;font-size: 14px">作者:{{ card.author.username }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span class="note-time" style="color: #666;font-size: 14px">时间:{{ card.create_time }}</span>
                                    </div>
                                </div>
                            </li>
                            <hr>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="layui-col-sm8">
                <div class="layui-row layui-col-space15">
                  <div class="layui-col-sm12">
                    <div class="layui-card">
                      <div class="layui-card-header">POI数量
                          <div class="layui-btn-group layuiadmin-btn-group">
                              <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">居民区</a>
                              <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">医院</a>
                          </div>
                      </div>
                      <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                          <div class="layui-col-sm4">
                            <table class="layui-table layuiadmin-page-table" lay-skin="line">
                              <thead>
                                <tr>
                                  <th>排名</th>
                                  <th>地区</th>
                                  <th>人数</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>{{ listOfcrawlTotalResSorted[0][0] }}</td>
                                  <td>{{ listOfcrawlTotalResSorted[0][1] }}</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>{{ listOfcrawlTotalResSorted[1][0] }}</td>
                                  <td>{{ listOfcrawlTotalResSorted[1][1] }}</td>
                                </tr>
{#                                <tr>#}
{#                                  <td>3</td>#}
{#                                  <td>{{ listOfcrawlTotalResSorted[2][0] }}</td>#}
{#                                  <td>{{ listOfcrawlTotalResSorted[2][1] }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                  <td>4</td>#}
{#                                  <td>{{ listOfcrawlTotalResSorted[3][0] }}</td>#}
{#                                  <td>{{ listOfcrawlTotalResSorted[3][1] }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                  <td>5</td>#}
{#                                  <td>{{ listOfcrawlTotalResSorted[4][0] }}</td>#}
{#                                  <td>{{ listOfcrawlTotalResSorted[4][1] }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                  <td>6</td>#}
{#                                  <td>{{ listOfcrawlTotalResSorted[5][0] }}</td>#}
{#                                  <td>{{ listOfcrawlTotalResSorted[5][1] }}</td>#}
{#                                </tr>#}
                              </tbody>
                            </table>
                          </div>
                          <div class="layui-col-sm8">
                            <div id="map" style="width: 100%; height: 280px;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    <style id="LAY_layadmin_theme">.layui-side-menu,.layadmin-pagetabs .layui-tab-title li:after,.layadmin-pagetabs .layui-tab-title li.layui-this:after,.layui-layer-admin .layui-layer-title,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child{background-color:#20222A !important;}.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a{background-color:#009688 !important;}.layui-layout-admin .layui-logo{background-color:#20222A !important;}</style>
      </div>
    </div>
  <script type="text/javascript">
        provinces = ['安徽', '北京', '重庆', '福建', '广东', '甘肃', '广西', '贵州', '河南', '湖北', '河北', '海南', '黑龙江', '湖南', '吉林', '江苏',
                     '江西', '辽宁', '内蒙古', '宁夏', '青海', '四川', '山东', '上海', '陕西', '山西', '天津', '云南', '浙江']

        var mydata = [
                {name: '北京',value: {{ listOfcrawlTotalRes[1] }} },{name: '天津',value: {{ listOfcrawlTotalRes[26] }} },
                {name: '上海',value: {{ listOfcrawlTotalRes[23] }} },{name: '重庆',value: {{ listOfcrawlTotalRes[2] }} },
                {name: '河北',value: {{ listOfcrawlTotalRes[10] }} },{name: '河南',value: {{ listOfcrawlTotalRes[8] }} },
                {name: '云南',value: {{ listOfcrawlTotalRes[27] }} },{name: '辽宁',value: {{ listOfcrawlTotalRes[17] }} },
                {name: '黑龙江',value: {{ listOfcrawlTotalRes[12] }} },{name: '湖南',value: {{ listOfcrawlTotalRes[13] }} },
                {name: '安徽',value: {{ listOfcrawlTotalRes[0] }} },{name: '山东',value: {{ listOfcrawlTotalRes[22] }} },
                {name: '新疆',value: {{ listOfcrawlTotalRes[29]}} },{name: '江苏',value: {{ listOfcrawlTotalRes[15] }} },
                {name: '浙江',value: {{ listOfcrawlTotalRes[28] }} },{name: '江西',value: {{ listOfcrawlTotalRes[16] }} },
                {name: '湖北',value: {{ listOfcrawlTotalRes[9] }} },{name: '广西',value: {{ listOfcrawlTotalRes[6] }} },
                {name: '甘肃',value: {{ listOfcrawlTotalRes[5] }} },{name: '山西',value: {{ listOfcrawlTotalRes[25] }} },
                {name: '内蒙古',value: {{ listOfcrawlTotalRes[18] }} },{name: '陕西',value: {{ listOfcrawlTotalRes[24] }} },
                {name: '吉林',value: {{ listOfcrawlTotalRes[14] }} },{name: '福建',value: {{ listOfcrawlTotalRes[3] }} },
                {name: '贵州',value: {{ listOfcrawlTotalRes[7] }} },{name: '广东',value: {{ listOfcrawlTotalRes[4] }} },
                {name: '青海',value: {{ listOfcrawlTotalRes[20] }} },{name: '西藏',value: {{ listOfcrawlTotalRes[30]}} },
                {name: '四川',value: {{ listOfcrawlTotalRes[21] }} },{name: '宁夏',value: {{ listOfcrawlTotalRes[19] }} },
                {name: '海南',value: {{ listOfcrawlTotalRes[11] }} },{name: '台湾',value: 0 },
                {name: '香港',value: 0 },{name: '澳门',value: 0 }
            ];
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var myChart1 = echarts.init(document.getElementById('main1'));
        var myMap = echarts.init(document.getElementById('map'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: ''
            },
            grid:{
                x:60,
                y:35,
                x2:5,
                y2:45,
                borderWidth:1
            },
            tooltip: {},
            legend: {
                data:['居民区','医院']
            },
            xAxis: {
                axisLabel:{
                    interval: 0,
                    formatter:function(value) {
                        return value.split("").join("\n");
                    }
                } ,
                data: ['安徽', '北京', '重庆', '福建', '广东', '甘肃', '广西', '贵州', '河南', '湖北', '河北', '海南', '黑龙江', '湖南', '吉林', '江苏',
                     '江西', '辽宁', '内蒙古', '宁夏', '青海', '四川', '山东', '上海', '陕西', '山西', '天津', '云南', '浙江','新疆','西藏']
            },
            yAxis: {

            },
            series: [{
                name: '居民区',
                type: 'bar',
                stack: '总量',
                itemStyle:{
                    normal:{
                        color:'#009688'
                    }
                },
                data: {{ listOfcrawlTotalRes }}
            },{
                name: '医院',
                type: 'bar',
                stack: '总量',
                itemStyle:{
                    normal:{
                        color:'#ff4d4d'
                    }
                },
                data: {{ listOfcrawlTotalHos }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        var option2 = {
            title: {
                text: ''
            },
            tooltip: {},
            legend: {
                orient: 'vertical',
                x: 'left',
                data: ['基站与场景关联覆盖']
            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                   }
                },
                indicator: [
                   { name: '室内覆盖（居民区）', max: 1},
                   { name: '近距离覆盖（居民区）', max: 1},
                   { name: '中距离覆盖（居民区）', max: 1},
                   { name: '室内覆盖（医院）', max: 1},
                   { name: '近距离覆盖（医院）', max: 1},
                   { name: '中距离覆盖（医院）', max: 1}
                ]
            },
            series: [{
                type: 'radar',
                // areaStyle: {normal: {}},
                data : [
                    {
                        value : [{{ratioOfTotalInsideRes}}, {{ratioOfTotalNearRes}}, {{ratioOfTotalMiddleRes}}, {{ratioOfTotalInsideHos}}, {{ratioOfTotalNearHos}}, {{ratioOfTotalMiddelHos}}],
                        name : '基站与场景关联覆盖占比',
                        areaStyle: {
                            normal: {
                                opacity: 0.4,
                                color: '#009688'
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#009688'
                            }
                        }
                    }
                ]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option2);
        // 指定图表的配置项和数据
        var option1 = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'item'
            },
            //左侧小导航图标
            visualMap: {
                min: 0,
                max: 110000,
                text:['高','低'],
                realtime: false,
                calculable: true,
                inRange: {
                    color: ['#fff','#009688']
                }
            },
            series: [{
                name: '数据',
                type: 'map',
                mapType: 'china',
                roam: true,
                label: {
                    normal: {
                        show: false  //省份名称
                    },
                    emphasis: {
                        show: false
                    }
                },
                data:mydata
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myMap.setOption(option1);
    </script>
  </body>
</html>