{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block head %}{% endblock %}

{% block main %}
    <h3 class="page-title">登录</h3>
    <form method="POST">
        {{ form.csrf_token() }}
        <div class="col-md-4 col-md-offset-4">
            {{ form.username(class="form-control", placeholder="用户名") }} <br>
            {{ form.password(class="form-control", placeholder="密码") }} <br>
            {{ form.submit(class="btn btn-primary btn-block") }} <br>
        </div>
    </form>
{% endblock %}'